USE [master]
GO
/****** Object:  Database [test123]    Script Date: 05.10.2023 0:50:10 ******/
CREATE DATABASE [test123]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test123', FILENAME = N'C:\Users\lias\test123.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test123_log', FILENAME = N'C:\Users\lias\test123_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test123].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test123]
GO
USE [test123]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Time] [time](0) NULL,
	[Day] [tinyint] NULL,
	[EventId] [int] NULL,
	[ModeratorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[CoatOfArms] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[EnglishTitle] [varchar](255) NULL,
	[Code] [nvarchar](3) NULL,
	[Code2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventTitle] [nvarchar](100) NULL,
	[CourseTitle] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Date] [date] NULL,
	[Days] [tinyint] NULL,
	[CityId] [int] NULL,
	[CourseId] [int] NULL,
	[WinnerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JuryId] [int] NULL,
	[ActivityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark$]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark$](
	[Id] [float] NULL,
	[JuriId] [float] NULL,
	[ActivityId] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.10.2023 0:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NULL,
	[Name] [nvarchar](30) NULL,
	[Patronymic] [nvarchar](30) NULL,
	[Email] [varchar](255) NULL,
	[Birthday] [date] NULL,
	[Phone] [varchar](12) NULL,
	[Password] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
	[CountryId] [int] NULL,
	[GenderId] [tinyint] NULL,
	[CourseId] [int] NULL,
	[RoleId] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Id], [Title], [Time], [Day], [EventId], [ModeratorId]) VALUES (1, N'Лидерство в бизнесе', CAST(N'09:00:00' AS Time), 1, 1, 31)
INSERT [dbo].[Activity] ([Id], [Title], [Time], [Day], [EventId], [ModeratorId]) VALUES (2, N'Технология принятия решений', CAST(N'10:45:00' AS Time), 2, 1, 32)
INSERT [dbo].[Activity] ([Id], [Title], [Time], [Day], [EventId], [ModeratorId]) VALUES (3, N'Искусство коучинга', CAST(N'12:30:00' AS Time), 2, 1, 33)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Title], [CoatOfArms]) VALUES (1, N'Абаза', NULL)
INSERT [dbo].[City] ([Id], [Title], [CoatOfArms]) VALUES (2, N'Абакан', NULL)
INSERT [dbo].[City] ([Id], [Title], [CoatOfArms]) VALUES (3, N'Абдулино', NULL)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Title], [EnglishTitle], [Code], [Code2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([Id], [Title], [EnglishTitle], [Code], [Code2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([Id], [Title], [EnglishTitle], [Code], [Code2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [EventTitle], [CourseTitle]) VALUES (1, N'ИТ', N'IT в бизнесе')
INSERT [dbo].[Course] ([Id], [EventTitle], [CourseTitle]) VALUES (2, N'Биг Дата', N'Разработка приложений')
INSERT [dbo].[Course] ([Id], [EventTitle], [CourseTitle]) VALUES (3, N'Дизайн', N'IT-инфраструктура')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Title], [Date], [Days], [CityId], [CourseId], [WinnerId]) VALUES (1, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2, 1, 1)
INSERT [dbo].[Event] ([Id], [Title], [Date], [Days], [CityId], [CourseId], [WinnerId]) VALUES (2, N'Быстрее, выше, сильнее: как спорт помогает бизнесу и корпорациям ', CAST(N'2023-04-13' AS Date), 2, 4, 2, 2)
INSERT [dbo].[Event] ([Id], [Title], [Date], [Days], [CityId], [CourseId], [WinnerId]) VALUES (3, N'Встреча пользователей PTV в России ', CAST(N'2022-04-16' AS Date), 3, 50, 3, 3)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Title]) VALUES (1, N'м')
INSERT [dbo].[Gender] ([Id], [Title]) VALUES (2, N'ж')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
INSERT [dbo].[Mark$] ([Id], [JuriId], [ActivityId]) VALUES (1, 52, 1)
INSERT [dbo].[Mark$] ([Id], [JuriId], [ActivityId]) VALUES (2, 58, 1)
INSERT [dbo].[Mark$] ([Id], [JuriId], [ActivityId]) VALUES (3, 57, 1)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Title]) VALUES (1, N'Участник')
INSERT [dbo].[Role] ([Id], [Title]) VALUES (2, N'Организатор')
INSERT [dbo].[Role] ([Id], [Title]) VALUES (3, N'Модератор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Email], [Birthday], [Phone], [Password], [Photo], [CountryId], [GenderId], [CourseId], [RoleId]) VALUES (1, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), N'9604240711', N'tKKevv8%', N'foto60.jpg', 71, 2, NULL, 1)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Email], [Birthday], [Phone], [Password], [Photo], [CountryId], [GenderId], [CourseId], [RoleId]) VALUES (2, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), N'9306616931', N'huSfHm4$', N'foto61.jpg', 34, 2, NULL, 1)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Email], [Birthday], [Phone], [Password], [Photo], [CountryId], [GenderId], [CourseId], [RoleId]) VALUES (3, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), N'9572656068', N'TlUwMw77%', N'foto62.jpg', 73, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD FOREIGN KEY([ModeratorId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([WinnerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activity] ([Id])
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD FOREIGN KEY([JuryId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
USE [master]
GO
